# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# artifacts
**/artifacts

# cache
**/*cache*

# dependencies
**/node_modules

# secrets
**/*secret*

# vs-cde
**/.vscode